<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Pagination" id="pg_rm">
		<result property="listCount" column="COUNT(*)"/>
	</resultMap>

	 <resultMap type="Member" id="member_rm">
	 	<id property="memberNo" column="MEMBER_NO"/>
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="memberPw" column="MEMBER_PW"/>
 		<result property="memberNick" column="MEMBER_NICK"/>
 		<result property="memberImage" column="MEMBER_IMAGE"/>
 		<result property="memberPhone" column="MEMBER_PHONE"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="memberStatus" column="MEMBER_STATUS"/>
 		<result property="memberGrade" column="MEMBER_GRADE"/>	 
 		<result property="memberPath" column="MEMBER_PATH"/>	 
	 </resultMap>

	 <resultMap type="Room" id="room_rm">
	 	<id property="roomNo" column="ROOM_NO"/>
 		<result property="roomName" column="ROOM_NAME"/>	 
 		<result property="roomAbout" column="ROOM_ABOUT"/>	 
 		<result property="roomConfig" column="ROOM_CONFIG"/>	 
 		<result property="roomPrice" column="ROOM_PRICE"/>	 
 		<result property="roomDiscount" column="ROOM_DISCOUNT"/>	 
 		<result property="roomStatus" column="ROOM_STATUS"/>	 
 		<result property="roomPrimaryOption" column="ROOM_PRIMARY_OPTION"/>	 
 		<result property="roomHref" column="ROOM_HREF"/>	 
 		<result property="filePath" column="FILE_PATH"/>
 		<result property="fileName" column="FILE_NAME"/>
 		
 		
 		<collection property="atList" column="ROOM_NO" 
		javaType="java.util.ArrayList" ofType="StudioAttachment" select="selectStudioAttachment"/>
		
	 </resultMap>
	 
	<resultMap type="StudioAttachment" id="studio_attachment_rm">
	 	<id property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="roomNo" column="ROOM_NO"/>
	 </resultMap>
	 
	 <resultMap type="Sales" id="sales_rm">
	 	<id property="roomNo" column="ROOM_NO"/>
	 	<result property="roomName" column="ROOM_NAME"/>
	 	<result property="roomSalesCount" column="CNT"/>
	 </resultMap>
	 
	 <resultMap type="Sales" id="salesByDay_rm">
	 	<id property="roomNo" column="ROOM_NO"/>
	 	<result property="rvDate" column="RV_DATE"/>
	 	<result property="roomSalesCount" column="CNT"/>
	 </resultMap>
	 
	<resultMap type="Rv" id="rv_rm">
		<!-- 기본키(PK)에 해당하는 컬럼, 필드 매핑 -->
		<id property="rvNo" column="RV_NO" />

		<!-- 기본키 외의 컬럼, 필드 매핑 -->
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNick" column="MEMBER_NICK" />
		<result property="roomNo" column="ROOM_NO" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="rvDate" column="RV_DATE" />
		<result property="rvTime" column="RV_TIME" />
		<result property="rvPeople" column="RV_PEOPLE" />
		<result property="rvCars" column="RV_CARS" />
		<result property="rvAnimals" column="RV_ANIMALS" />
		<result property="rvPurpose" column="RV_PURPOSE" />
		<result property="rvEtc" column="RV_ETC" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomPrice" column="ROOM_PRICE" />
		<result property="roomDiscount" column="ROOM_DISCOUNT" />
		<result property="rvStatus" column="RV_STATUS" />


		<collection property="optionList" column="RV_NO"
			javaType="java.util.List" ofType="Option" select="selectOptionList">
			<!-- 옵션리스트를 얻어오는데 사용할값 -->
			<!-- 예약하나에 대한 상품리스트를 만들어서 (rv라는 객체로 나가지고 -->

		</collection>
	</resultMap>

	<resultMap type="Option" id="option_rm">
		<!-- 기본키(PK)에 해당하는 컬럼, 필드 매핑 -->
		<id property="optionNo" column="OPTION_NO" />

		<!-- 기본키 외의 컬럼, 필드 매핑 -->
		<result property="optionName" column="OPTION_NAME" />
		<result property="optionType" column="OPTION_TYPE" />
		<result property="optionPrice" column="OPTION_PRICE" />

	</resultMap>
	 
	<select id="selectOptionList" parameterType="_int" resultMap="option_rm">
		SELECT * FROM RESERVATION_OPTION
		JOIN STUDIO_OPTION USING
		(OPTION_NO)
		WHERE RV_NO = #{rvNo}
	</select>
	 
	<select id="selectStudioAttachment" parameterType="_int" resultMap="studio_attachment_rm">
		SELECT*FROM STUDIO_ATTACHMENT 
		WHERE ROOM_NO = #{roomNo}
		ORDER BY FILE_LEVEL
	</select>
	 
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{memberId}
		AND MEMBER_GRADE = 'A'
		AND MEMBER_PATH = 'G'
	</select>
	
	<select id="memberList" parameterType="Pagination" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_GRADE = 'G'
		AND MEMBER_PATH = 'G'
		ORDER BY MEMBER_NO DESC
	</select>
  
  	<select id="getMemberListCount" resultMap="pg_rm">
  		SELECT COUNT(*) FROM MEMBER
  	</select>
  	
  	<select id="getRoomListCount" resultMap="pg_rm">
  		SELECT COUNT(*) FROM STUDIO_ROOM
  	</select>
  	
  	<select id="roomList" parameterType="Pagination" resultMap="room_rm">
  		SELECT * FROM STUDIO_ROOM
  		ORDER BY ROOM_NO DESC
  	</select>
  
  	<insert id="insertRoom" parameterType="Room" useGeneratedKeys="true">
  	
  		<selectKey keyProperty="roomNo" resultType="_int" order="BEFORE">
			SELECT SEQ_RNO.NEXTVAL FROM DUAL
		</selectKey>
		
  		INSERT INTO STUDIO_ROOM VALUES
  		(#{roomNo}, #{roomName}, #{roomAbout}, #{roomConfig}, #{roomPrice}, #{roomDiscount}, DEFAULT, #{roomPrimaryOption}, #{roomHref})
  	</insert>
  
  	<insert id="insertAttachment" parameterType="list" >
  		INSERT INTO STUDIO_ATTACHMENT
		SELECT SEQ_FNO.NEXTVAL, A.* FROM 
		(
			<foreach collection="list" item="at" separator=" UNION ALL ">
				SELECT #{at.fileLevel} FILE_LEVEL,  
					   #{at.fileName} FILE_NAME, 
           			   #{at.filePath} FILE_PATH, 
           			   #{at.fileType} FILE_TYPE,
           			   #{at.roomNo} ROOM_NO 
           		FROM DUAL
			</foreach>
		) A
  	</insert>
  	
  	<update id="updateRoomStatus" parameterType="Room">
  		UPDATE STUDIO_ROOM SET
  		ROOM_STATUS = #{roomStatus}
  		WHERE ROOM_NO = #{roomNo}
  	</update>
  	
  	<select id="selectRoom" parameterType="_int" resultMap="room_rm">
  		SELECT*FROM STUDIO_ROOM 
  		WHERE ROOM_NO = #{roomNo}
  	</select>
  
  	<update id="updateRoom" parameterType="Room">
  		UPDATE STUDIO_ROOM SET
  		ROOM_NAME = #{roomName},
  		ROOM_ABOUT = #{roomAbout},
  		ROOM_CONFIG = #{roomConfig},
  		ROOM_PRICE = #{roomPrice},
  		ROOM_DISCOUNT = #{roomDiscount},
  		ROOM_PRIMARY_OPTION = #{roomPrimaryOption},
  		ROOM_HREF = #{roomHref}
  		WHERE ROOM_NO = #{roomNo}
  	</update>
  	
  	<update id="updateStudioAttachment" parameterType="StudioAttachment">
  		UPDATE STUDIO_ATTACHMENT SET
  		FILE_NAME = #{fileName},
  		FILE_PATH = #{filePath},
  		FILE_TYPE = #{fileType}
  		WHERE FILE_LEVEL = #{fileLevel}
  		AND ROOM_NO = #{roomNo}
  	</update>
  	
  	<insert id="insertOneAttachment" parameterType="StudioAttachment">
  		INSERT INTO STUDIO_ATTACHMENT VALUES
  		(SEQ_FNO.NEXTVAL, #{fileLevel}, #{fileName}, #{filePath}, #{fileType}, #{roomNo})
  	</insert>
  	
  	<delete id="deleteRooms" parameterType="string">
  		DELETE FROM STUDIO_ROOM WHERE ROOM_NO IN ( ${rooms} )
  	</delete>
  	
  	<delete id="deleteStudioAttachments" parameterType="string">
  		DELETE FROM STUDIO_ATTACHMENT WHERE ROOM_NO IN ( ${rooms} )
  	</delete>
  	
  	<select id="countRooms" resultType="_int">
  		SELECT COUNT(*) FROM STUDIO_ROOM
		WHERE ROOM_STATUS = 'Y'
  	</select>
  	
  	<select id="selectSalesList" resultMap="sales_rm">
	SELECT 0 ROOM_NO, 'ALL' ROOM_NAME , COUNT(*) CNT FROM RESERVATION
	JOIN STUDIO_ROOM USING (ROOM_NO)
	WHERE ROOM_STATUS = 'Y'
	UNION ALL
	SELECT ROOM_NO, ROOM_NAME, COUNT(*) CNT FROM RESERVATION
	JOIN STUDIO_ROOM USING (ROOM_NO)
	WHERE ROOM_STATUS = 'Y'
	GROUP BY ROOM_NO, ROOM_NAME
	ORDER BY ROOM_NO
  	</select>
  	
  	<select id="getSalesByDay" parameterType="_int" resultType="int">
	SELECT 
	            NVL(SUM(A.CNT), 0) CNT
	FROM 
	(SELECT ROOM_NAME, TO_CHAR(RV_DATE, 'YYYY-MM-DD') RV_DATE, COUNT(*) CNT 
	FROM RESERVATION 
	JOIN STUDIO_ROOM USING (ROOM_NO)
	WHERE ROOM_STATUS = 'Y'
	AND ROOM_NO = #{roomNo}
	AND RV_DATE BETWEEN '2021-08-18'  AND '2021-08-23'
	GROUP BY ROOM_NAME, RV_DATE ) A,
	( SELECT TO_DATE('2021-08-18', 'YYYY-MM-DD') + LEVEL - 1 AS DT
	  FROM DUAL
	  CONNECT BY LEVEL &lt;= ( TO_DATE('2021-08-23', 'YYYY-MM-DD')
	                            - TO_DATE('2021-08-18', 'YYYY-MM-DD') + 1)
	) B
	WHERE B.DT = RV_DATE(+)
	GROUP BY ROOM_NAME, B.DT
	ORDER BY B.DT
  	</select>
  	
	<select id="selectMainRvList" resultMap="rv_rm">
		SELECT * FROM
		(SELECT RV_NO, MEMBER_NO, MEMBER_NICK, ROOM_NO, ROOM_NAME, RV_DATE, RV_TIME, RV_PEOPLE, RV_CARS,
			RV_ANIMALS, RV_PURPOSE,RV_ETC, RV_STATUS
		FROM RESERVATION
		JOIN STUDIO_ROOM USING(ROOM_NO)
		JOIN MEMBER USING (MEMBER_NO)
		ORDER BY RV_NO DESC)
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<update id="updateRvStatus" parameterType="Rv">
		UPDATE RESERVATION SET
		RV_STATUS = #{rvStatus}
		WHERE RV_NO = #{rvNo}
	</update>
	<select id="selectRoomList" resultMap="room_rm">
	SELECT * FROM STUDIO_ROOM
	JOIN STUDIO_ATTACHMENT USING (ROOM_NO)
	WHERE FILE_LEVEL= 0
	

	
	
	</select>



</mapper>
