<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Pagination" id="pg_rm">
		<result property="listCount" column="COUNT(*)"/>
	</resultMap>

	 <resultMap type="Member" id="member_rm">
	 	<id property="memberNo" column="MEMBER_NO"/>
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="memberPw" column="MEMBER_PW"/>
 		<result property="memberNick" column="MEMBER_NICK"/>
 		<result property="memberImage" column="MEMBER_IMAGE"/>
 		<result property="memberPhone" column="MEMBER_PHONE"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="memberStatus" column="MEMBER_STATUS"/>
 		<result property="memberGrade" column="MEMBER_GRADE"/>	 
 		<result property="memberPath" column="MEMBER_PATH"/>	 
	 </resultMap>
	 
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{memberId}
		AND MEMBER_GRADE = 'A'
		AND MEMBER_PATH = 'G'
	</select>
	
	<select id="memberList" parameterType="Pagination" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_GRADE = 'G'
		AND MEMBER_PATH = 'G'
	</select>
  
  	<select id="getMemberListCount" resultMap="pg_rm">
  		SELECT COUNT(*) FROM MEMBER
  	</select>
  
  
  
  
</mapper>
