<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Pagination" id="pg_rm">
		<result property="listCount" column="COUNT(*)"/>
	</resultMap>

	 <resultMap type="Member" id="member_rm">
	 	<id property="memberNo" column="MEMBER_NO"/>
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="memberPw" column="MEMBER_PW"/>
 		<result property="memberNick" column="MEMBER_NICK"/>
 		<result property="memberImage" column="MEMBER_IMAGE"/>
 		<result property="memberPhone" column="MEMBER_PHONE"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="memberStatus" column="MEMBER_STATUS"/>
 		<result property="memberGrade" column="MEMBER_GRADE"/>	 
 		<result property="memberPath" column="MEMBER_PATH"/>	 
	 </resultMap>

	 <resultMap type="Room" id="room_rm">
	 	<id property="roomNo" column="ROOM_NO"/>
 		<result property="roomName" column="ROOM_NAME"/>	 
 		<result property="roomAbout" column="ROOM_ABOUT"/>	 
 		<result property="roomConfig" column="ROOM_CONFIG"/>	 
 		<result property="roomPrice" column="ROOM_PRICE"/>	 
 		<result property="roomDiscount" column="ROOM_DISCOUNT"/>	 
 		<result property="roomStatus" column="ROOM_STATUS"/>	 
 		<result property="roomPrimaryOption" column="ROOM_PRIMARY_OPTION"/>	 
 		<result property="roomHref" column="ROOM_HREF"/>	 
 		
 		<collection property="atList" column="ROOM_NO" 
		javaType="java.util.ArrayList" ofType="StudioAttachment" select="selectStudioAttachment"/>
		
	 </resultMap>
	 
	<resultMap type="StudioAttachment" id="studio_attachment_rm">
	 	<id property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="roomNo" column="ROOM_NO"/>
	 </resultMap>
	 
	<select id="selectStudioAttachment" parameterType="_int" resultMap="studio_attachment_rm">
		SELECT*FROM STUDIO_ATTACHMENT 
		WHERE ROOM_NO = #{roomNo}
		ORDER BY FILE_LEVEL
	</select>
	 
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{memberId}
		AND MEMBER_GRADE = 'A'
		AND MEMBER_PATH = 'G'
	</select>
	
	<select id="memberList" parameterType="Pagination" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_GRADE = 'G'
		AND MEMBER_PATH = 'G'
		ORDER BY MEMBER_NO DESC
	</select>
  
  	<select id="getMemberListCount" resultMap="pg_rm">
  		SELECT COUNT(*) FROM MEMBER
  	</select>
  	
  	<select id="getRoomListCount" resultMap="pg_rm">
  		SELECT COUNT(*) FROM STUDIO_ROOM
  	</select>
  	
  	<select id="roomList" parameterType="Pagination" resultMap="room_rm">
  		SELECT * FROM STUDIO_ROOM
  		ORDER BY ROOM_NO DESC
  	</select>
  
  	<insert id="insertRoom" parameterType="Room" useGeneratedKeys="true">
  	
  		<selectKey keyProperty="roomNo" resultType="_int" order="BEFORE">
			SELECT SEQ_RNO.NEXTVAL FROM DUAL
		</selectKey>
		
  		INSERT INTO STUDIO_ROOM VALUES
  		(#{roomNo}, #{roomName}, #{roomAbout}, #{roomConfig}, #{roomPrice}, #{roomDiscount}, DEFAULT, #{roomPrimaryOption}, #{roomHref})
  	</insert>
  
  	<insert id="insertAttachment" parameterType="list" >
  		INSERT INTO STUDIO_ATTACHMENT
		SELECT SEQ_FNO.NEXTVAL, A.* FROM 
		(
			<foreach collection="list" item="at" separator=" UNION ALL ">
				SELECT #{at.fileLevel} FILE_LEVEL,  
					   #{at.fileName} FILE_NAME, 
           			   #{at.filePath} FILE_PATH, 
           			   #{at.fileType} FILE_TYPE,
           			   #{at.roomNo} ROOM_NO 
           		FROM DUAL
			</foreach>
		) A
  	</insert>
  	
  	<update id="updateRoomStatus" parameterType="Room">
  		UPDATE STUDIO_ROOM SET
  		ROOM_STATUS = #{roomStatus}
  		WHERE ROOM_NO = #{roomNo}
  	</update>
  	
  	<select id="selectRoom" parameterType="_int" resultMap="room_rm">
  		SELECT*FROM STUDIO_ROOM 
  		WHERE ROOM_NO = #{roomNo}
  	</select>
  
  	<update id="updateRoom" parameterType="Room">
  		UPDATE STUDIO_ROOM SET
  		ROOM_NAME = #{roomName},
  		ROOM_ABOUT = #{roomAbout},
  		ROOM_CONFIG = #{roomConfig},
  		ROOM_PRICE = #{roomPrice},
  		ROOM_DISCOUNT = #{roomDiscount},
  		ROOM_PRIMARY_OPTION = #{roomPrimaryOption},
  		ROOM_HREF = #{roomHref}
  		WHERE ROOM_NO = #{roomNo}
  	</update>
  	
  	
</mapper>
