@charset "UTF-8";

.outterContainer {
	width: 1200px;
	height : 1500px;
	margin: auto;
}

.innerContainer {
	width: 800px;
	margin: auto;
	height : 600px;
	border: 1px solid gray;
	
}

.reservationList {
	width: 780px;
}

#reservationNo {
	width: 780px;
	color: gray;
}

.reservationDetail {
	width: 780px;
}

#reservationPreview {
	float: left;
	width: 780px;
	border: 1px solid gray;
}

.roomName {
	width: 100%;
	height: 40px;
	
}

.reservationTime {
	width: 100%;
	height: 40px;
}

.reservationDetailList {
	width: 800px;
}

.detailList1 {
	width: 750px;

}

.detail1-1 {
	float: left;
	width: 100px;
	font-weight: bold;
}

.detail1-2 {
	width: 600px;
	float: left;
	
}

.detailList2 {
	width: 750px;
	
}

.detail2-1 {
	float: left;
	width: 100px;
	font-weight: bold;
}

.detail2-2 {
	width: 600px;
	float: left;
}

.detailList3 {
	width: 750px;

}

.detail3-1 {
	float: left;
	width: 100px;
	font-weight: bold;
}

.detail3-2 {
	width: 600px;
	float: left;
}

.totalPrice {
	float: right;
	right : 20px;
}

#roomImg {
	border-radius: 50%;
}