@charset "UTF-8";


 		.container {
            width: 1200px;
        }

        .innerContainer {
            width: 1000px;
            background-color: white;
            margin: auto;
        }

        .rvStatus {
            width: 1000px;
        }

        .rvStatusText0 {
            height: 35px;
        }

        .rvStatusText {
            height: 29px;
            width: 120px;
            float: left;
            font-size: 20px;
        }

        .rvStatusText2 {
            height: 29px;
            width: 768px;
            float:left;
            font-size: 15px;
            line-height: 2;
            color: gray;
        }
        .btn-ensemble{
	        background-color: #FDCDCD !important;
	        padding : 5px 25px 5px 25px !important;
    	}
    	
    	
    	