<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- SqlSessionTemplate 생성 시 적용될 설정 작성 부분 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- 별칭 작성 부분 -->
	<!-- VO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
	<typeAliases>
		<!-- common -->	
		
		<!-- admin -->
		<typeAlias type="com.kh.ensemble.admin.model.vo.Room" alias="Room" />
		<typeAlias type="com.kh.ensemble.admin.model.vo.StudioAttachment" alias="StudioAttachment" />
			
		<!-- member -->
		<typeAlias type="com.kh.ensemble.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.ensemble.member.model.vo.Animal" alias="Animal" />
		
		<!-- board -->
		<typeAlias type="com.kh.ensemble.board.model.vo.Attachment" alias="Attachment" />
		<typeAlias type="com.kh.ensemble.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.kh.ensemble.board.model.vo.HashTag" alias="HashTag" />
		<typeAlias type="com.kh.ensemble.board.model.vo.Like" alias="Like" />
		<typeAlias type="com.kh.ensemble.board.model.vo.Pagination" alias="Pagination" />
	
		<typeAlias type="com.kh.ensemble.board.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.kh.ensemble.board.model.vo.Type" alias="Type" />
		<typeAlias type="com.kh.ensemble.board.model.vo.Search" alias="Search" />
		
		<typeAlias type="com.kh.ensemble.reservation.model.vo.Rv" alias="Rv" />
		<typeAlias type="com.kh.ensemble.reservation.model.vo.RvPagination" alias="RvPagination" />
		<typeAlias type="com.kh.ensemble.reservation.model.vo.Option" alias="Option" />
	</typeAliases>

	<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
	<mappers>
		<!-- main -->	
		<mapper resource="/mappers/main/main-mapper.xml" />
		
		<!-- admin -->
		<mapper resource="/mappers/admin/admin-mapper.xml" />
		
		<!-- member -->
		<mapper resource="/mappers/member/member-mapper.xml" />
				
		<!-- board -->
		<mapper resource="/mappers/board/board-mapper.xml" />
		<mapper resource="/mappers/board/like-mapper.xml" />
		<mapper resource="/mappers/board/reply-mapper.xml" />
		
		<!-- reservation -->
		<mapper resource="/mappers/reservation/rv-mapper.xml" />
	</mappers>



</configuration>