@charset "UTF-8";

* {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
	margin: auto;
	box-sizing: border-box;
	margin-top: 100px;
}

.login_body {
	width: 40%;
	min-width : 500px;
	text-align: center;
	margin: auto;
}

.logo {
	text-align: center;
	margin: auto;
}

.login-btn {
	background-color: #FDCDCD;
	border-style: none;
	color: black;
	width: 70%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.naver-login-btn {
	background-color: #1DC121;
	border-style: none;
	color: white;
	width: 350px;
	margin-top : 10px;
	margin-left : 77px;
	text-align : left;
	padding : 3px 0px 3px 0px;
}
.naver-login-btn>img{
	width : 60px;
	padding : 0px 5px 0px 5px;
}
.naver-login-btn>span{
	padding-left : 10px;
}



.login_Form {
	width: 100%;
	margin: auto;
}

.checkbox {
	margin-left: 15%;
	margin-top: 2%;
}

.form-control {
	width: 75%;
	height: 50px;
	margin: auto;
}

.login_bottom {
	color: darkgray;
}

.login_bottom:hover {
	color: black;
}

a[class="login_bottom"] {
	text-decoration: none;
}

.findId {
	padding-left: 11%;
}

#naverimg {
	padding: 0 0 0 0;
}


input[type="checkbox"]{
	display:none;
}

input[type="checkbox"]+label{
	display: block;
	width:15px;
	height: 15px;
	background: url('../../images/check.png') no-repeat 0 0px / contain;
	cursor: pointer;
	border-radius: 3px;
	float: left;
	 margin-top: 5px;
	 margin-right: 7px;
 
}

input[type="checkbox"]:checked+label{
	background: url('../../images/checked.png') no-repeat 0 0px / contain;
	 float: left;
	 margin-top: 5px;
}
 
input[type="checkbox"]+label span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	float: rigth !important;
	bottom: 5px;
	font-size: 13px;
}
