@charset "UTF-8";

* {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
	margin: auto;
	box-sizing: border-box;
	width: 1000px;
}

div {
	color: black;
}

h5 {
	color: black;
}


.content{
	margin: Auto;
}
/* 내 정보 조회*/
.info-form {
	width: 30%;
	height: 400px;
	margin: auto;
	padding: 30px 0;
	border: 1px solid lightgrey;
}

.info-form form {
	color: #9ba5a8;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.info-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}


input::placeholder {
	font-size: 80%;
}

.myPage {
	width: 100%;
	margin: auto;
}

.info-image {
	width: 130px;
	height: 130px;
	margin: auto;
	border-radius: 100px;
	border: 1px solid lightgrey;
	line-height: 110px;

}

#img{
	position: relative;
}

.info-nick {
	margin-top: 25px;
}

.info {
	text-align: center;
}

.info-email, .info-phone {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	text-align :center;
}

.info-eIcon, .info-pIcon {
	width: 10px;
	height: 50px;
	display:inline-block;
	margin-left: 15px;
	margin-right: 10px;
}

.info-emailView, .info-phoneView {
	height: 50px;
	display:inline-block;
}

.info-eIcon, .info-emailView {
	margin-top: 20px;
}

/* 최근 예약 현황*/
.reserve-title {
	width: 93%;
	height: 50px;
	margin-top: -20px;
	margin-bottom: -10px;
	margin-left: 10px;
}

.reserve-con {
	font-size: 18px;
	display: inline-block;
}

.reserveNo {
	color: lightgray;
	font-size: 13px;
	margin-top: 2px;
}

.reserve-form {
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid lightgray;
}

.reserve-form>hr {
	margin-top: 3px;
	margin-bottom: 3px;
	width: 90%;
}

.reserveType {
	font-size: 19px;
}

.reserveDt {
	width: 100%;
	height: 30px;
	padding-top: 3px;
}

.reserveDate {
	width: 23%;
	height: 100%;
	float: left;
	font-size: 13px;
}

.reserveTime {
	width: 60%;
	height: 100%;
	float: left;
	margin-left: 15px;
	font-size: 13px;
}

.plus-btn {
	font-size: 16px !important;
	background: #FDCDCD !important;
	border: none !important;
	min-width: 80px;
	height: 30px;
	padding-top: 3px !important;
	padding-bottom: 5px !important;
	float: right;
	text-decoration : none;
	color: black;
}

.res {
	margin-left: 10px;
}

.vl {
	border-left: 1px solid lightgray;
	height: 20px;
	float: left;
}

.pet-info {
	margin: auto;
	margin-top: 30px;
}

.table {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid lightgrey;
}

.table>tr {
	border-bottom: none;
}

.petName {
	padding-left: 85px !important;
}

.petGender, .petAge {
	border-bottom: 1px solid white;
}

.petGender, .petType {
	padding-left: 30px !important;
}

.petGender, .petAge {
	padding-top: 18px !important;
}

.petType, .petKg {
	padding-top: 0 !important;
}

.pet-info-title {
	width: 100%;
}

.pet-info-text {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 20px;
}

.insert-btn {
	font-size: 16px !important;
	background: #FDCDCD !important;
	border: none !important;
	min-width: 100px;
	height: 30px;
	padding-top: 3px !important;
	padding-bottom: 5px !important;
	float: right;
}

.update {
	border-right: 1px solid lightgrey;
	padding-right: 20px;
}


    @media(min-width:990px){
     	.user{
        	margin-right: 30px;
        }
        .reserve{
        	margin-left : 30px;
        }
        .pet-info{
        	position: relative;
        	left : -1.5%;
        	width : 70%;
        }
    }
    @media(max-width:989px){
        .user{
        	margin-bottom : 30px;
        }
        .pet-info{
        	width : 95%;
        	position: relative;
        	left : -3%;
        }
    }
    
    
    
    