@charset "UTF-8";

.myPage-navi{
	display: flex;
  	justify-content: center;
  	margin-top : 20px;
}

#myPageText{
	margin-right: 20px;
}
#btn1, #btn2, #btn3{
	margin-right: 10px;
}

.myPage-navi>ul{
	padding:0px;
}

.myPage-navi>ul>li {
	list-style-type: none;
	float: left;
	font-size: 14px;
	margin-bottom: 13px;
}
 
.myPage-btn {
	padding : 5px 10px 5px 10px !important;
	border: none !important;
	border-radius: 10px !important;
	background-color : #eee !important;
}

.myPage-btn:hover {
	background-color : white;
	color : #FF657D;
	border : 1px solid #FF657D;
}

.myPage-btn-checked {
	padding : 5px 10px 5px 10px;
	border: none;
	border-radius: 10px;
	background-color: #FF657D;
	color: white;
}

.myPage-btn-checked:hover {
	background-color : white;
	color : #FF657D;
	border : 1px solid #FF657D;
}
