@charset "UTF-8";

.myPage-navi {
	height: 100px;
	margin: auto;
	margin-left: 220px;
}

.myPage-navi>ul>li {
	list-style-type: none;
	float: left;
	margin-left: 10px;
	font-size: 14px;
}
 
.myPage-btn {
	width: 100px;
	border: none;
	border-radius: 10px;
}

.myPage-btn:hover {
	background-color: #FF657D;
	color: white;
}