@charset "UTF-8";

.container {
	margin: auto;
	box-sizing: border-box;
}

div {
	color: black;
}

h5 {
	color: black;
}

.input {
	min-height: 41px;
	box-shadow: none;
	border-color: #e1e4e5;
}

.input:focus {
	border-color: #F9F7EB;
}

.input, .btn {
	border-radius: 3px;
}

.secession-form {
	width: 460px;
	margin: 80px auto;
	padding: 30px 0;
	border: 1px solid lightgrey;
}

.secession-form form {
	color: #9ba5a8;
	/* 	border-radius: 3px; */
	margin-bottom: 15px;
	background: #fff;
	/* 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
	padding: 30px;
	width: 80%;
	margin: auto;
}

.secession-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}

.secession-form hr {
	margin: 0 -30px 20px;
}

.secession-form .form-group {
	margin-bottom: 10px;
}

.secession-form label {
	font-weight: normal;
	font-size: 13px;
}

.secession-form .secession {
	width: 50px;
	font-size: 16px;
	font-weight: bold;
	background: #FDCDCD;
	border: none;
	min-width: 120px;
	box-shadow: 1px 4px 0 rgb(0, 0, 0, 0.3);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 2px;
}

.secession-form .secession-btn:active {
	border-color: none;
	box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.3);
	top: 2px;
	position: relative;
}

.secession-form .cancle {
	width: 50px;
	font-size: 16px;
	font-weight: bold;
	background: #f7f7f7;
	border: none;
	min-width: 120px;
	box-shadow: 1px 4px 0 rgb(0, 0, 0, 0.3);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 2px;
}

.agree-btn {
	margin: auto; padding : auto;
	width: 100%;
	padding: auto;
}

.secession-form a {
	color: #fff;
	text-decoration: underline;
}

.secession-form form a:hover {
	text-decoration: underline;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.inputPhone {
	margin: 0;
	padding: 0;
}

.inputPhone1 {
	padding-right: 2px;
	padding-left: 2px;
}

.logo {
	text-align: center;
	margin: auto;
}

.agree-form {
	border: 1px solid #e1e4e5;
	border-radius: 3px;
}

input::placeholder {
	font-size: 80%;
}

.checkbox_group {
	margin-left: 5px;
}

input[type="checkbox"]{
	display:none;
}

input[type="checkbox"]+label{
	display: block;
	width:15px;
	height: 15px;
	background: url('../../images/check.png') no-repeat 0 0px / contain;
	cursor: pointer;
	border-radius: 3px;
	float: left;
	 margin-top: 5px;
	 margin-right: 7px;

}

input[type="checkbox"]:checked+label{
	background: url('../../images/checked.png') no-repeat 0 0px / contain;
	 float: left;
	 margin-top: 5px; 
}

input[type="checkbox"]+label span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	float: rigth !important;
	bottom: 5px;
	font-size: 10px;
}

.agree-text {
	color: gray;
	font-size: 12px;
}

/* 모달창 */
.modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 300px !important;
}

.no-btn {
	background-color: #FF657D !important;

}

.yes-btn {
	background-color: #F4F4F4 !important;

}