@charset "UTF-8";
    .carousel-img{
        width: 100%; height: 50vw; 
        background-repeat: no-repeat; 
        background-size:cover; 
        background-position: center;
    }
    .carousel-indicators > li {
        width:7px !important; height: 7px !important;
        margin-right: 20px !important;
        border-radius: 50% !important;
    }
    .studio-view-cards{
        width:90%; height:auto;
        padding-bottom: 20px;
        border: 1px solid rgb(182, 182, 182);
        margin:auto;
        margin-bottom: 20px;
    }
    .card-img{
        width:90%; height: 300px;
        background-repeat: no-repeat; 
        background-size:cover; 
        background-position: center;
        margin : auto;
        margin-top:15px; margin-bottom: 15px;
    }
    .card-text1{
        font-family: 'Noto Serif KR', serif; 
        font-weight: 600;
        font-size: larger;
        width: auto;
        display: inline-block;
    }
    .btn-ensemble{
        background-color: #FDCDCD;
        padding-left: 25px; padding-right: 25px;
        float: right;
        margin-right: 20px;
        padding-top : 5px; padding-bottom: 5px;
    }
    .card-text2{
        font-family: 'cafe24 oneprettynight';
        height: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .notice-img{
        width: 100%; height: 200px;
        border: 1px solid rgb(182, 182, 182);
        margin-bottom: 10px;
    }
