<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rvMapper">
	<!-- RvPagination용 resultMap -->
	<resultMap type="RvPagination" id="rvpg_rm">
		<result property="rvListCount" column="CNT" />
		<result property="memberNo" column="MEMBER_NO" />

	</resultMap>

	<resultMap type="Pagination" id="pg_rm">
		<result property="listCount" column="CNT" />
		<result property="boardName" column="BOARD_NAME" />
	</resultMap>
	<resultMap type="Rv" id="rv_rm">
		<!-- 기본키(PK)에 해당하는 컬럼, 필드 매핑 -->
		<id property="rvNo" column="RV_NO" />

		<!-- 기본키 외의 컬럼, 필드 매핑 -->
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNick" column="MEMBER_NICK" />
		<result property="roomNo" column="ROOM_NO" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="rvDate" column="RV_DATE" />
		<result property="rvTime" column="RV_TIME" />
		<result property="rvPeople" column="RV_PEOPLE" />
		<result property="rvCars" column="RV_CARS" />
		<result property="rvAnimals" column="RV_ANIMALS" />
		<result property="rvPurpose" column="RV_PURPOSE" />
		<result property="rvEtc" column="RV_ETC" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomPrice" column="ROOM_PRICE" />
		<result property="roomDiscount" column="ROOM_DISCOUNT" />
		<result property="rvStatus" column="RV_STATUS" />


		<collection property="optionList" column="RV_NO"
			javaType="java.util.List" ofType="Option" select="selectOptionList">
			<!-- 옵션리스트를 얻어오는데 사용할값 -->
			<!-- 예약하나에 대한 상품리스트를 만들어서 (rv라는 객체로 나가지고 -->

		</collection>
	</resultMap>


	<resultMap type="Option" id="option_rm">
		<!-- 기본키(PK)에 해당하는 컬럼, 필드 매핑 -->
		<id property="optionNo" column="OPTION_NO" />

		<!-- 기본키 외의 컬럼, 필드 매핑 -->
		<result property="optionName" column="OPTION_NAME" />
		<result property="optionType" column="OPTION_TYPE" />
		<result property="optionPrice" column="OPTION_PRICE" />


	</resultMap>



	<select id="getListCount" resultMap="pg_rm">
		SELECT
		CNT
		FROM (SELECT
		COUNT(*) CNT
		FROM RESERVATION )

	</select>


	<select id="getRvListCount" parameterType="_int"
		resultMap="rvpg_rm">
		SELECT
		CNT
		FROM (SELECT COUNT(*) CNT
		FROM RESERVATION
		WHERE
		MEMBER_NO = #{pg.getMemberNo() } )

	</select>

	<!-- 예약 목록 조회 -->
	<select id="selectRvList" parameterType="_int" resultMap="rv_rm">
		SELECT
		RV_NO, MEMBER_NO, MEMBER_NICK, ROOM_NO, ROOM_NAME, RV_DATE, RV_TIME,
		RV_PEOPLE, RV_CARS,
		RV_ANIMALS,ROOM_NAME, ROOM_PRICE, ROOM_DISCOUNT
		RV_PURPOSE,RV_ETC, RV_STATUS
		FROM
		RESERVATION
		JOIN STUDIO_ROOM
		USING(ROOM_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE
		MEMBER_NO =
		#{pagination.getMemberNo()}
		ORDER BY RV_NO DESC
	</select>
	<select id="selectReservationList" resultMap="rv_rm">
		SELECT
		RV_NO,
		MEMBER_NO, MEMBER_NICK, ROOM_NO, ROOM_NAME, RV_DATE, RV_TIME,
		RV_PEOPLE, RV_CARS,
		RV_ANIMALS,
		RV_PURPOSE,RV_ETC, RV_STATUS
		FROM
		RESERVATION
		JOIN STUDIO_ROOM USING(ROOM_NO)
		JOIN MEMBER USING
		(MEMBER_NO)
		ORDER BY RV_NO DESC
	</select>

	<select id="selectOptionList" parameterType="_int"
		resultMap="option_rm">
		SELECT * FROM RESERVATION_OPTION
		JOIN STUDIO_OPTION USING
		(OPTION_NO)
		WHERE RV_NO = #{rvNo}


	</select>


	<!-- 예약 목록 조회 -->
	<select id="selectRvTimeList" parameterType="Rv"
		resultMap="rv_rm">
		SELECT
		RV_TIME, ROOM_PRICE
		FROM RESERVATION
		JOIN STUDIO_ROOM
		USING
		(ROOM_NO)
		WHERE RV_DATE = #{rvDate}
		AND
		ROOM_NO =
		#{roomNo}

	</select>
	<!-- 예약 목록 조회 -->
	<select id="selectOption" resultMap="option_rm">
		SELECT* FROM
		STUDIO_OPTION
	</select>
	<!-- 예약 목록 조회 -->
	<select id="selectReservation" parameterType="_int"
		resultMap="rv_rm">
		SELECT
		RV_NO, MEMBER_NO, MEMBER_NICK, ROOM_NO, ROOM_NAME,
		RV_DATE, RV_TIME,
		RV_PEOPLE, RV_CARS,
		RV_ANIMALS,ROOM_NAME, ROOM_PRICE,
		ROOM_DISCOUNT,
		RV_PURPOSE,RV_ETC, RV_STATUS
		FROM
		RESERVATION
		JOIN
		STUDIO_ROOM USING(ROOM_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE
		RV_NO =
		#{rvNo}
	</select>

	<insert id="reservation" parameterType="Rv">

		<selectKey keyProperty="rvNo" resultType="_int"
			order="BEFORE">
			SELECT SEQ_RVNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO RESERVATION VALUES(
		#{rvNo} , #{memberNo}, #{roomNo},
		#{rvDate},#{rvTime}, #{rvPeople},
		#{rvCars},#{rvAnimals}, #{rvPurpose},
		#{rvEtc} , DEFAULT )


	</insert>

	<insert id="setOptionNo" parameterType="map">
		INSERT

		INTO RESERVATION_OPTION VALUES(
		#{rvNo} , #{optionNo} )
	</insert>

	<select id="adminSelectOption" resultMap="option_rm">
		SELECT* FROM
		STUDIO_OPTION
	</select>

	<update id="modifyRv" parameterType="Rv">

		UPDATE RESERVATION SET
		ROOM_NO=#{roomNo},
		RV_DATE=#{rvDate},
		RV_TIME=#{rvTime},
		RV_PEOPLE=#{rvPeople},
		RV_CARS=#{rvCars},
		RV_ANIMALS= #{rvAnimals},
		RV_PURPOSE=#{rvPurpose},
		RV_ETC=#{rvEtc}
		WHERE RV_NO = #{rvNo} AND RV_STATUS = 'Y'

	</update>

	<delete id="deleteSelectOptionList" parameterType="Rv">
		DELETE FROM  RESERVATION_OPTION
		WHERE RV_NO = #{rvNo}
	</delete>

	<select id="selectedOption" parameterType="_int" resultMap="option_rm">
		SELECT OPTION_NO
		FROM RESERVATION_OPTION
		WHERE RV_NO= #{rvNo}

	</select>


</mapper>